@import url("https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro");

// Färger
$primary-color: #1a73e8;
$secondary-color: #fbbc05;
$accent-color: #ffca28;
$text-color: #333;
$text-muted: #6c757d;
$background-color: #f9f9f9;
$border-color: #ced4da;
// Typsnitt
$font-family: "Merriweather", sans-serif;

// Spacing
$spacing-unit: 8px;
