@use "./var/variables" as v;

body {
  font-family: v.$font-family;
  color: v.$text-color;
  background-color: v.$background-color;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: v.$primary-color;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

input {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
  
    /* Centrerar placeholder */
    text-align: center;
  }
  
  /* Specifik stil för placeholder text */
  input::placeholder {
    text-align: center;
    color: #888;
  }
