@use "./var/variables" as v;
@use "./var/mixins" as m;

.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar ul li a:hover {
    background-color: #007BFF;
    color: white;
  }
