@use "./var/variables" as v;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: v.$text-color;
  font-family: v.$font-family;
}

p {
  margin-bottom: v.$spacing-unit * 2;
  font-family: v.$font-family;
  font-size: 1rem;
  line-height: 1.6;
  color: v.$text-color;
}

a {
    color: v.$primary-color;
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
  }
